// Custom styles.
.site-meta {
  background: $blue; //修改为自己喜欢的颜色
}
@font-face {
    font-family: Zitiming;
    src: url('/fonts/Zitiming.ttf');
}
.site-title {
    font-size: 30px !important;
	font-family: 'Zitiming' !important;
}

body{
    background:url(/images/bg.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
}

.header-inner{
	//opacity: 0.8;
}
.main-inner { 
   // margin-top: 60px;
   // padding: 60px 60px 60px 60px;

    //opacity: 0.8;
}

header{ width: 75% !important; }
header.post-header {
  width: auto !important;
}
.container .main-inner { width: 75%; }
.content-wrap { width: calc(100% - 260px); }

.header {
  +tablet() {
    width: auto !important;
  }
  +mobile() {
    width: auto !important;
  }
}

.container .main-inner {
  +tablet() {
    width: auto !important;
  }
  +mobile() {
    width: auto !important;
  }
}

.content-wrap {
  +tablet() {
    width: 100% !important;
  }
  +mobile() {
    width: 100% !important;
  }
}


// 站点名字体
.site-title {
    font-size: 75px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    line-height: 80px;
    letter-spacing: 3px;
}
// 站点子标题
.site-subtitle{
    margin: 5px;
    font-size: 15px;
    letter-spacing: 10px;
    padding-bottom: 20px;
    font-weight: bold;
    color: rgb(255, 255, 25);
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: white
}

// 文章
.post {
    margin-bottom: 50px;
    padding: 20px 36px 36px 36px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    background-color: rgb(255, 255, 255);
}
// 文章标题字体
.posts-expand .post-title {
    font-size: 26px;
    font-weight: 700;
}

// 文章元数据（meta）留白更改
.posts-expand .post-meta {
    margin: 10px 10px 20px 0px;
}
// 文章的描述description
.posts-expand .post-meta .post-description {
    font-style: italic;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 0px;
    color: #666;
}

// 去除在页面文章之间的分割线
.posts-expand .post-eof {
    margin: 0px;
    background-color: rgba(255, 255, 255, 0);
}
// 去除页面底部页码上面的横线
.pagination {
    border: none;
    margin: 0px;
}
